# ── Máy 3: Booking + Payment + Notification ── IP: 172.19.48.1 ───────────────

RABBITMQ_URL=amqp://172.16.34.218
USER_SERVICE_URL=http://172.16.33.223:8081
MOVIE_SERVICE_URL=http://172.16.33.223:8082

DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASS=

# Chạy lệnh này trên Máy 3:
#   RABBITMQ_URL=amqp://172.16.34.218 USER_SERVICE_URL=http://172.16.33.223:8081 MOVIE_SERVICE_URL=http://172.16.33.223:8082 node booking-service/index.js
#   RABBITMQ_URL=amqp://172.16.34.218 node payment-service/index.js
#   RABBITMQ_URL=amqp://172.16.34.218 node notification-service/index.js
