# ── Máy 2: User Service + Movie Service ── IP: 172.22.48.1 ──────────────────

RABBITMQ_URL=amqp://172.16.34.218

DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASS=

# Chạy lệnh này trên Máy 2:
#   RABBITMQ_URL=amqp://172.16.34.218 node user-service/index.js
#   RABBITMQ_URL=amqp://172.16.34.218 node movie-service/index.js
